@use 'variables' as *;

// Reset / normalize
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: $line-height-normal;
  letter-spacing: 0rem;
  color: $color-text;
  background-color: $color-bg;
}

h1,
h2 {
  text-transform: uppercase;
}

a {
  color: var(--bsp-emphasis, $color-emphasis);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    outline: 2px solid var(--bsp-emphasis, $color-emphasis);
    outline-offset: 2px;
  }
}
